body {
    background: #006494;
  }
  
 #card {
    position: absolute;
    width: 320px;
    display: block;
    margin: 40px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    left: 365px;
    top: 30px;

  } 
  
  #upper-side {
    padding: 2em;
    background-color: #006494;
    display: block;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width:97%;
  }
  
  #checkmark {
    font-weight: lighter;
    fill: #E8F1F2;
    margin: -4em auto auto 20px;
  }
  
  #status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: -.2em;
    margin-bottom: 0;
  }
  
  #lower-side {
    padding: 2em 2em 5em 2em;
    background: #FFFFFF;
    display: block;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  #message {
    margin-top: -.5em;
    color: #13293d;
  }
  
  #contBtn {
    position: relative;
    top: 2em;
    text-decoration: none;
    background: #006494;
    color: #fff;
    margin: auto;
    padding: .8em 3em;
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    border-radius: 25px;
    -webkit-transition: all .4s ease;
          -moz-transition: all .4s ease;
          -o-transition: all .4s ease;
          transition: all .4s ease;
  }
  
  #contBtn:hover {
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -webkit-transition: all .4s ease;
          -moz-transition: all .4s ease;
          -o-transition: all .4s ease;
          transition: all .4s ease;
  }