
#modalLogin { 
  border-width: 0.2rem;
  border-color: #8fafb1; 
  margin-top: 1rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 20px 0px rgba(0 0 0 / 40%);
  -o-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
}

h1 {
  color:white;
  font-size: clamp(10px, 15vw, 90px);
  font-family: 'Nunito', sans-serif;
  font-weight: 1000;
  text-shadow: 2px 2px #13293d;
  margin-top: 5%;
}

#entrar {
  font-size: 25px;
  box-shadow: 0 10px 20px 0px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 20%);
  -o-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
}


#entrar:hover{
  background-color: #1b98e0;
}

.form-label {
  font-family: 'Open Sans', 'sans-serif';
  font-weight: bold;
  padding: 2px;
  font-size: 22px;
}

body{
  background: linear-gradient(329.54deg, #006494 0%, #e8f1f2 150%);
}